body {
  margin: 0 auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bgc);
}

.container{
  margin: 0 auto;
  box-sizing: border-box;
  width: 1280px;
}
:root {
  --bgc: #FFF;
  --nav-text-color: #726E8D;
  --logo-color: #22202E;
  --main-text-color: #2A254B;
  --black: #000;
  --white: #fff;
}
body.dark-theme{
  --bgc: #22202E;;
  --nav-text-color: #FFF;
  --logo-color: #FFF;
  --main-text-color: #FFF;
  --black: #fff;
  --white: #000;
}
.header {
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #EBE8F4;
  margin: 0 auto;

}
.logo {
  text-decoration: none;
  color: var(--logo-color);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.head_nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav_item {
  text-decoration: none;
  color: var(--nav-text-color);
  margin-right: 44px;
}
.last {
  margin: 0;
}
.actions {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
}
.search {
  width: 16px;
  height: 16px;
  background-image: url(/img/Search.svg);
  margin-right: 16px;
}
.cart {
  width: 16px;
  height: 16px;
  background-image: url(/img/Shopping--cart.svg);
  margin-right: 16px;
}
.avatar{
  width: 16px;
  height: 16px;
  background-image: url(/img/User--avatar.svg);
}
.header-main {
  padding-top: 80px;
}
.title{
  color: var(--main-text-color);
  font-size: 36px;
  font-weight: 400;
  line-height: 140%; 
  text-align: center;
}
.wrapper {
  height: 64px;
  margin: 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.selection {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
}
.selection select {
  font-size: 16px;
}
.sort{
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; 
}
.sort select {
  font-size: 16px;
}

.listings {
  padding-top: 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  repeat(3, 1fr);
  grid-gap: 20px;
}
.card{
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}
.item-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 20px;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.button {
  background-color: var(--bgc);
  padding: 16px 32px;
  width: fit-content;
}
.button a{
  text-decoration: none;
  font-size: 16px;
  color: var(--main-text-color);
}
.button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 28px;
}
.wrapper-join{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.join-img{
  background-image: url(/img/join-background.jpg);
  width: 720px;
  height: 521px;
  flex-shrink: 0;
}
.join-content {
  padding: 72px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.join-content h2{
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 22px;
  color: var(--black);
}
.join-content p{
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
}
.join-content div{
  align-items: end;
}
.join-content .button{
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--main-text-color);
  margin: 0px 0px 70px 22px;
}
.join-content a{
  color: var(--white);
}
footer {
  color: var(--white);
  background-color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-map{
  width: 100%;
  height: 380px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.footer-wrap{
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-wrap ul{
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.menu{
  font-size: 16px;
}
.map {
  width: 642px;
  height: 195px;
}

.underline {
  height: 68px;
  width: 1280px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid #4E4D93 1px;
}
.socials{
  display: grid;
  grid-template-columns: repeat(6,24px);
  gap: 12px;
}
.icon{
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.linkedin {
  width: 18px;
  height: 18px;
  background-image: url(/img/logo--linkedin.svg);
}
.facebook {
  width: 18px;
  height: 18px;
  background-image: url(/img/logo--facebook.svg);
}
.instagram {
  width: 18px;
  height: 18px;
  background-image: url(/img/logo--instagram.svg);
}
.skype {
  width: 20px;
  height: 20px;
  background-image: url(/img/logo--skype.svg);
}
.twitter {
  width: 18px;
  height: 14px;
  background-image: url(/img/logo--twitter.svg);
}
.pinterest {
  width: 22px;
  height: 22px;
  background-image: url(/img/logo--pinterest.svg);
}
